{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/nubbe/css/contact.css') }}">
{% endblock %}

{% block body %}

    {% include 'NubbeBundle:Default:header.html.twig' %}

    <div class="container-fluid">
        <div class="row">
             <div class="col-sm-1 col-md-1 sidebar">
                 {% include 'leftmenu.html.twig' %}
             </div>
             <div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 web-standard">
                 <h3 class="head">ATENCIÓN AL CLIENTE</h3>
                 <p>Nubbe España</p>
                 <div class="fancyGoldenSeperator"></div>
                 <div class="client-services-item-container row">
                     <div class="client-services-item col-md-4">

                         <div class="client-services-service">
                             <div class="client-services-service-description">
                                 <span class="fa-stack fa-3x">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">1</strong>
                                </span><br><br>
                                 Avenida de La Albufera, 39, 28947 Madrid<br>
                                 TEL: 688 088 888<br>
                                 Email: info@nubbe.es
                             </div>
                         </div>
                         <div class="client-services-actions">
                         <span class="button-dropdown button-dropdown-inverse" data-buttons="dropdown">
                             <a href="#" class="button button-inverse">ENVIAR</a>
                         </span>
                         </div>
                     </div>
                     <div class="client-services-item col-md-4">
                         <div class="client-services-service">
                             <div class="client-services-service-description">
                                <span class="fa-stack fa-3x">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">2</strong>
                                </span><br><br>
                                 Avenida de La Albufera, 39, 28947 Madrid<br>
                                 TEL: 688 088 888<br>
                                 Email: info@nubbe.es
                             </div>
                         </div>
                         <div class="client-services-actions">
                         <span class="button-dropdown button-dropdown-inverse" data-buttons="dropdown">
                             <a href="#" class="button button-inverse">ENVIAR</a>
                         </span>
                         </div>
                     </div>
                     <div class="client-services-item col-md-4">
                         <div class="client-services-service">
                             <div class="client-services-service-description">
                                <span class="fa-stack fa-3x">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">3</strong>
                                </span><br><br>
                                 Avenida de La Albufera, 39, 28947 Madrid<br>
                                 TEL: 688 088 888<br>
                                 Email: info@nubbe.es
                             </div>
                         </div>
                         <div class="client-services-actions">
                         <span class="button-dropdown button-dropdown-inverse" data-buttons="dropdown">
                             <a href="#" class="button button-inverse">ENVIAR</a>
                         </span>
                         </div>
                     </div>
                 </div>
                 <br><br><br>
                 <div class="client-services-item-container row">
                     <div class="client-services-item col-md-4">

                         <div class="client-services-service">
                             <div class="client-services-service-description">
                                 <span class="fa-stack fa-3x">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">4</strong>
                                </span><br><br>
                                 Avenida de La Albufera, 39, 28947 Madrid<br>
                                 TEL: 688 088 888<br>
                                 Email: info@nubbe.es
                             </div>
                         </div>
                         <div class="client-services-actions">
                         <span class="button-dropdown button-dropdown-inverse" data-buttons="dropdown">
                             <a href="#" class="button button-inverse">ENVIAR</a>
                         </span>
                         </div>
                     </div>
                     <div class="client-services-item col-md-4">
                         <div class="client-services-service">
                             <div class="client-services-service-description">
                                <span class="fa-stack fa-3x">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">5</strong>
                                </span><br><br>
                                 Avenida de La Albufera, 39, 28947 Madrid<br>
                                 TEL: 688 088 888<br>
                                 Email: info@nubbe.es
                             </div>
                         </div>
                         <div class="client-services-actions">
                         <span class="button-dropdown button-dropdown-inverse" data-buttons="dropdown">
                             <a href="#" class="button button-inverse">ENVIAR</a>
                         </span>
                         </div>
                     </div>
                     <div class="client-services-item col-md-4">
                         <div class="client-services-service">
                             <div class="client-services-service-description">
                                <span class="fa-stack fa-3x">
                                  <i class="fa fa-square-o fa-stack-2x"></i>
                                  <strong class="fa-stack-1x">6</strong>
                                </span><br><br>
                                 Avenida de La Albufera, 39, 28947 Madrid<br>
                                 TEL: 688 088 888<br>
                                 Email: info@nubbe.es
                             </div>
                         </div>
                         <div class="client-services-actions">
                         <span class="button-dropdown button-dropdown-inverse" data-buttons="dropdown">
                             <a href="#" class="button button-inverse">ENVIAR</a>
                         </span>
                         </div>
                     </div>
                 </div>
                 </div>
             </div>

         </div>
    </div>

    {% include 'NubbeBundle:Default:footer.html.twig' %}
{% endblock %}