{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% include 'NubbeBundle:Default:header.html.twig' %}

    <section id="main" class="content-main logon-page" role="main">
        <div data-controller="user/logon-controller" style="min-height: 543px;">
            <header>
                <h1 class="head">IDENTIFÍCATE / REGÍSTRATE</h1>
            </header>
            <div id="sign-in">
                <h2>Ya soy usuario de <strong>Nubbe.com</strong></h2>
                <p>Introduce tu dirección de email y la contraseña para identificarte en la web.</p>
                <form id="sign-in-form" action="//www.zara.com/es/es/session/login" method="POST" autocomplete="off">
                    <div class="form-container">
                        <div class="form-control">
                            <label for="email" class="label-up">Email <em>*</em></label>
                            <div class="form-entry">
                                <input id="email" name="email" type="text" value="" autofocus="" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-control">
                            <label for="password" class="label-up">Contraseña <em>*</em></label>
                            <div class="form-entry">
                                <input id="password" name="password" type="password" value="" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <a id="forget-password-link" href="//www.zara.com/es/es/user/account/password/recover">¿Has olvidado tu contraseña?</a>
                    <button id="login-button" class="button-primary button-big" type="submit" value="Identificar">IDENTIFICAR</button>
                </form>
            </div>
            <div id="sign-up">
                <h2>Quiero ser usuario de <strong>nubbe.com</strong></h2>
                <p>Si todavía no tienes una cuenta de usuario de <strong>Nubbe.com</strong> utiliza esta opción para acceder al formulario de registro.</p>
                <p>Te solicitaremos la información imprescindible para agilizar el proceso de compra.</p>
                <a id="register-button" class="button-primary button-big" href="//www.zara.com/es/es/signup">CREAR CUENTA</a>
            </div>
        </div>
    </section>

    {% include 'NubbeBundle:Default:footer.html.twig' %}
{% endblock %}