{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/nubbe/css/leftmenu.css') }}">
{% endblock %}
            <ul class="category">
                <li class="nuevo"><a href="{{ path('nubbe_productlist_new') }}">ÚLTIMA<br>SEMANA</a></li>
                <i class="empty-divider" role="separator">&nbsp;</i>
                <li class="mujer">MUJER</li>
                <i class="empty-divider" role="separator">&nbsp;</i>
                {% for category in categories %}
                <li class="_category-link">
                    <a href="{{ path('nubbe_productlist', { 'category': category.id }) }}">{{ category.categoryNameEs }}</a>
                </li>
                {% endfor %}
            </ul>

