{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/nubbe/css/leftmenu.css') }}">
{% endblock %}
            <ul class="category">
                <li class="nuevo"><a href="">ÚLTIMA<br>SEMANA</a></li>
                <i class="empty-divider" role="separator">&nbsp;</i>
                <li class="mujer">MUJER</li>
                <i class="empty-divider" role="separator">&nbsp;</i>
                <li class="_category-link">
                    <a href="">ABRIGOS</a>
                </li>
                <li class="_category-link">
                    <a href="">BOMBERS</a>
                </li>
                <li class="_category-link">
                    <a href="">BLAZERS</a>
                </li>
                <li class="_category-link">
                    <a href="">VESTIDOS</a>
                </li>
                <li class="_category-link">
                    <a href="">MONOS</a>
                </li>
                <li class="_category-link">
                    <a href="">CAMISAS</a>
                </li>
                <li class="_category-link">
                    <a href="">PANTALONES</a>
                </li>
                <li class="_category-link">
                    <a href="">JEANS</a>
                </li>
                <li class="_category-link">
                    <a href="">SHORTS</a>
                </li>
                <li class="_category-link">
                    <a href="">FALDAS</a>
                </li>
                <li class="_category-link">
                    <a href="">CAMISETAS</a>
                </li>
                <li class="_category-link">
                    <a href="">ZAPATOS</a>
                </li>
            </ul>

