.web-standard{
    text-align: center;
}
.web-standard h2.head {
    padding: 20px 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    background: url(../img/dotted-line.png) repeat-x 0 0;
}
.web-standard .head{
    font-weight: bold;
}
.fancyGoldenSeperator {
    width: 159px;
    height: 19px;
    display: block;
    margin: 33px auto;
    background: url(../img/fancyGoldenseperator.png);
}
.client-services-item-container {
    margin: 0 2px;
}
.client-services-item:last-of-type {
    margin-bottom: 0;
    padding-bottom: 12px;
}
.client-services-service {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 66.66667%;
    padding-bottom: 12px;
}
.client-services-service-description {
    margin-top: 40px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 15px;
}
.client-services-actions{
    font-size: 14px;
}