.nav{
    height: 240px;
}
.leftlogo{
    position: absolute;
    top: 50px;
    left: 80px;
}
.rightlogo{
    position: absolute;
    top: 80px;
    right: 130px;
 }
.carousel{
    position: relative;
    bottom: 20px;
}
.rightlogo a{
    color: #000;
    margin-right: 18px;
    font-weight: bold;
}
.container h2.head {
    padding: 20px 0;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    background: url(../img/dotted-line.png) repeat-x 0 bottom;
}