.nav{
    height: 240px;
}
.leftlogo{
    position: absolute;
    top: 50px;
    left: 80px;
}
.rightlogo{
    position: absolute;
    top: 80px;
    right: 100px;
 }
.carousel{
    position: relative;
    bottom: 20px;
}
.rightlogo a{
    color: #000;
    margin-right: 18px;
    font-weight: bold;
}