
a{
    color: #000;
    text-decoration: none;
}

div.radioGroup input{
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;
    margin-left: 20px;
    margin-top: 10px;
}
